name: Update Paid Feed

on:
  #schedule:
    #- cron: '0 12 * * *'   # Runs daily at 12:00 UTC
    #- cron: '15 12 * * *'  # Runs daily at 12:15 UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update_paid_feed:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          pip install feedparser PyRSS2Gen aiohttp beautifulsoup4

      - name: Run Paid Feed Generator
        run: python paid_feed_generator.py

      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add paid_chapters_feed.xml
          git commit -m "Update paid feed XML" || echo "No changes to commit"
          git pull --rebase
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git
          git push

      - name: Wait for RSS to update
        run: sleep 10

      - name: Trigger Discord Webhook Workflow
        env:
          PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
        run: |
          curl -X POST \
               -H "Accept: application/vnd.github.v3+json" \
               -H "Authorization: Bearer $PAT_GITHUB" \
               https://api.github.com/repos/Cannibal-Turtle/discord-webhook/dispatches \
               -d '{
                 "event_type": "trigger-discord-notify",
                 "client_payload": { "feed": "paid" }
               }'
